{{ form_start(form) }}

<div class="modal-content p-3 border-bottom border-5 border-primary">

    {# HEADER #}
    <div class="modal-header align-items-center gap-2">

        <h5 class="modal-title">
            {# Заголовок модального окна #}
            Новая поставка:
        </h5>

        <div class="w-25 d-flex gap-3 align-items-center text-nowrap">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="text-muted"
                 viewBox="0 0 16 16" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom"
                 data-bs-html="true"
                 data-bs-original-title="Номер поставки">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
            </svg>

            {{ form_widget(form.invariable.number) }}

            <div class="d-flex align-items-center gap-1 text-primary pointer copy small" data-copy="176.475.613.910">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14"
                     fill="currentColor" viewBox="0 0 115.77 122.88">
                    <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                </svg>
            </div>
        </div>

        <button class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" type="button"></button>
    </div>

    {# BODY #}
    <div class="modal-body">

        {# Продукты #}
        <div>
            {{ include(_self|replace({ "_form.html.twig": "form/products/products.html.twig" })) }}
        </div>

        <div>
            {{ include(_self|replace({ "_form.html.twig": "form/files/files.html.twig" })) }}
        </div>

    </div>

    {# FOOTER #}
    <div class="modal-footer">

        <div class="flex-grow-1">
            &nbsp;
        </div>

        <div class="d-flex gap-3">
            {# Отмена #}

            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                {{ 'btn.cancel'|trans({}, 'core.btn') }}
            </button>

            {# Удалить #}
            {{ form_widget(form.product_supply_new, { label: '
                        <span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
                        <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
                    '}) }}
        </div>
    </div>
</div>

{{ form_end(form) }}



