{% trans_default_domain 'products-supply.status' %}

{# Статусы, в которые нельзя передвинуть поставку #}
{% set restricted_statuses = ['new', 'completed'] %}

<div class="d-flex justify-content-between gap-2 cards-box p-2 ">

    {% set width_col = (1100 / (statuses|length))|round %}

    {# @var status \BaksDev\Products\Supply\Type\Status\ProductSupplyStatus\Collection\ProductSupplyStatusNew #}
    {% for status in statuses %}

        {% set color = status.color %}
        {% set counter = query[status.value]|length %}

        <div class="w-100 d-flex flex-column gap-2" style="min-width: {{ width_col }}px;">

            <div class="d-flex flex-column gap-2 draggable-zone h-100 justify-content-start min-vh-100"
                 style="overflow-y: visible;"
                 data-status="{{ status.value }}"
                 data-level="{{ status.value in restricted_statuses ? 'restricted' : '' }}">

                <div class="w-100 badge p-2 sticky-top z-index-5"
                     style="top: 5rem; background-color: {{ color }};">
                    {{ status.value|trans }}
                </div>

                <div class="text-center"><small>
                        {# @TODO  #}
                        {{ counter }} {{ 'num_of_product_supply'|trans({'count': counter}, 'messages') }}</small>
                </div>

                {# КАРТОЧКИ ЗАКАЗА #}

                {# @var supply \BaksDev\Products\Supply\Repository\AllProductSupply\AllProductSupplyResult #}
                {% set supples = query[status.value] %}

                {% for supply in supples %}

                    {{ include(_self|replace({ "columns.html.twig": "supply.html.twig" })) }}

                {% endfor %}

            </div>

        </div>

    {% endfor %}

</div>