{# @var supply \BaksDev\Products\Supply\Repository\AllProductSupply\AllProductSupplyResult #}

<div class="draggable rounded-4 z-0" id="{{ supply.id }}" tabindex="0">

    <div class="border-bottom border-4 rounded-4"
         style="background-color: {{ color }} !important; border-color: {{ color }} !important;">

        <div class="card bg-light-primary rounded-4">

            <div class="d-flex gap-1 justify-content-between align-items-center px-2 small mt-1">

                {# Для мультивыбора #}
                <label for="{{ supply.supplyNumber }}">
                    <input class="form-check-input m-0"
                           type="checkbox"
                           data-status="{{ supply.supplyStatus }}"
                           value="{{ supply.id }}"
                           id="{{ supply.supplyNumber }}"
                           style="width: 18px; height: 18px;">
                </label>

                <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                     data-copy="{{ supply.supplyNumber }}">

                    <span>#{{ supply.supplyNumber }}</span>
                </div>

            </div>

            <div class="card-body d-flex justify-content-between small p-2">

            <div class="d-flex flex-column justify-content-between gap-1 offcanvas-link small"
                     data-href='{{ path('products-supply:admin.supply.detail', { id : supply.id }) }}'
                     data-id='{{ supply.id }}'
                     style="cursor: help">

                    <span class="text-muted ">{{ supply.id|uuid_format_date }}</span>

                    {% set total = supply.supplyProducts|reduce((carry, product) => carry + (product.total ?? 0), 0) %}


                    <div class="d-flex gap-1 align-items-center">
                        Продуктов в поставке
                        <span class="badge small p-1"
                              style="min-width: 1.7em; background-color: {{ color }} !important;">
                                {{ supply.supplyProducts|length }}
                       </span>
                    </div>

                    <span class="text-muted">
                       в общем количестве: {{ total }}
                    </span>
                </div>

                {# Не даем перемещать поставку в статусе completed "Выполнен" #}
                {% if supply.supplyStatus != 'completed' %}

                    <div class="d-flex flex-column justify-content-between gap-1">

                        <div class="text-end">

                            <button type="button" class="btn btn-sm btn-light draggable-handle shadow-sm"
                                    role="tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-delay='{"show":600,"hide":100}'
                                    title="Изменить статус сделки">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrows-move" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                                </svg>
                            </button>

                        </div>

                    </div>

                {% endif %}

            </div>

        </div>
    </div>
</div>