{# @var supply \BaksDev\Products\Supply\Repository\AllProductSupply\AllProductSupplyResult #}

{% set isLock = supply.supplyLock %}

<div class="draggable rounded-4 z-0" id="{{ supply.id }}" tabindex="0">

    <div class="border-bottom border-4 rounded-4"
         style="background-color: {{ color }} !important; border-color: {{ color }} !important;">

        <div class="card bg-light-primary rounded-4">

            <div class="d-flex gap-1 justify-content-between align-items-center px-2 small mt-1">

                {# Для мультивыбора #}
                <label class="{{ isLock is true ? 'fade' : '' }}"
                       for="{{ supply.supplyNumber }}">

                    <input class="form-check-input m-0" type="checkbox"
                           id="{{ supply.supplyNumber }}"
                           value="{{ supply.id }}"
                           data-status="{{ supply.supplyStatus }}"
                           style="width: 18px; height: 18px;">
                </label>

                {#  Номер поставки #}
                <div class="d-flex align-items-center gap-1 text-primary pointer copy small number-supply"
                     data-copy="{{ supply.supplyNumber }}">
                    <span>#{{ supply.supplyNumber }}</span>
                </div>

            </div>

            <div class="card-body d-flex justify-content-between small p-2">

                <div class="d-flex flex-column gap-1 offcanvas-link small"
                     data-href='{{ path('products-supply:admin.supply.detail', { id : supply.id }) }}'
                     data-id='{{ supply.id }}'
                     style="cursor: help">

                    {# Дата создания и последнего изменения #}

                    {% set dedline = date(supply.dateModify) %}
                    {% set difference = dedline.diff(date("now")) %}
                    {% set day = difference.days ?: null %}
                    {% set hour = difference.h ?: null %}

                    <div class="small">

                        {% if supply.supplyCreated is not null %}
                            <span class="text-muted ">{{ supply.supplyCreated|format_datetime(pattern="d MMMM") }} | </span>
                        {% else %}
                            <span class="text-muted ">{{ supply.id|uuid_format_date|format_datetime(pattern="d MMMM") }} | </span>
                        {% endif %}

                        <strong role="tooltip"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-delay='{"show":600,"hide":100}'
                                title="Последнее движение по заказу"
                                class="small {{ day ? 'text-danger' : 'text-success' }}">

                            {% if day %}
                                {{ day }}<span class="small">д.</span>
                            {% endif %}

                            {% if hour %}
                                {{ hour }}<span class="small">ч.</span>
                            {% endif %}

                            {% if day is null %}
                                {% if hour is empty and difference.i is empty %}
                                    Новая
                                {% else %}
                                    {{ difference.i }}<span class="small">м.</span>
                                {% endif %}
                            {% endif %}

                        </strong>

                    </div>

                    {# Дата планируемого поступления #}
                    {% if supply.supplyArrival is not null %}

                        {% set arrivalDedline = date(supply.supplyArrival) %}
                        {% set arrivalDifference = arrivalDedline.diff(date("now")) %}
                        {% set arrivalDay = arrivalDifference.days ?: null %}

                        <div class="small">

                            <span class="text-muted ">Поступление - </span>
                            <span class="text-muted ">{{ supply.supplyArrival|format_datetime(pattern="d MMMM") }} | </span>

                            <strong role="tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-delay='{"show":600,"hide":100}'
                                    title="Последнее движение по заказу"
                                    class="small {{ arrivalDifference.invert == 0 and arrivalDay > 0 ? 'text-danger' : 'text-success' }}">

                                {% if arrivalDay %}
                                    {{ arrivalDay }}<span class="small">д.</span>
                                {% else %}
                                    <span>сегодня</span>
                                {% endif %}

                            </strong>
                        </div>
                    {% endif %}

                    {% set total = supply.supplyProducts|reduce((carry, product) => carry + (product.total ?? 0), 0) %}


                    <div class="d-flex gap-1 align-items-center">
                        Продуктов в поставке
                        <span class="badge small p-1"
                              style="min-width: 1.7em; background-color: {{ color }} !important;">
                                {{ supply.supplyProducts|length }}
                       </span>
                    </div>

                    <span class="text-muted">
                       в общем количестве: {{ total }}
                    </span>
                </div>

                {# Не даем перемещать поставку в статусе completed "Выполнен" #}
                {% if supply.supplyStatus != 'completed' %}

                    <div class="d-flex flex-column justify-content-between gap-1">

                        <div class="text-end">

                            <button type="button"
                                    class="btn btn-sm btn-light shadow-sm {{ isLock is true ? 'draggable-lock' : 'draggable-handle' }}"
                                    role="tooltip"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    data-bs-delay='{"show":600,"hide":100}'
                                    title="{{ isLock is true ? 'Дождитесь завершения обработки поставки' : 'Изменить статус сделки' }}">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-ban {{ isLock is true ? '' : 'd-none' }}" viewBox="0 0 16 16">
                                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrows-move {{ isLock is true ? 'd-none' : '' }}" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                                </svg>
                            </button>

                        </div>

                    </div>

                {% endif %}

            </div>

        </div>
    </div>
</div>